body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./img/background.svg');
  background-size: 100%;
}

@media only screen and (min-width: 768px) {
  .navBrand:hover{
    background-image: url('./img/logoHover.png');
    background-size: 100% 100%;
  }
  
  .navBrand:hover img:first-child{
    visibility: hidden;
  }
}

.navElem:hover{
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5); 
    border-radius:10px;
}

::-webkit-scrollbar:horizontal {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
